body {
    background-color: #f4f9f4;
    margin: 0 auto;
    max-width: 1440px;
    font-family: "Baloo Bhai 2", sans-serif;
    
}

.overall {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.20);
-moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.20);
box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.20);
}




/*  MAIN CONTENT -------------------------------------- */
.hero {
    margin: 0;
    
  
}

.hero .header {
    height: 132px;
    display: flex;  
    align-items: center;
    
}

.hero .header .logo {
    background-color: #a7d7c5 ;
    width: 120px;
    margin-left: 30px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  
}

.hero .header .logo .logoImage {
    background-image: url('images/logo2.png');
    background-repeat: no-repeat;
    display: block;
    width: 86px;
    height: 81px;   
}

.hero .header .nav {
    background-color: #e2ede8;
    width: 100%;
    margin: 43px 0 43px 0;
    padding: 0 50px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.hero .header .nav div {
    display: inline-block;
    height: 100%;
}

.hero .header .nav div:hover {
    background-color:#c7d9d5;

}

.hero .header .nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.hero .header .nav ul li {
    margin: 0 40px; 
}

.hero .header .nav ul li a {
    text-decoration: none;
    color: #494f4e;
    display: block;
    border: 7px solid transparent;
    transition: 450ms ease-out;
}

.hero .header .nav ul li a:hover {
    background-color:#c7d9d5;

}

/* BURGER MENU------------------------------------ */
/* BURGER MENU------------------------------------ */
/* BURGER MENU------------------------------------ */

.burgerAll {
    visibility: visible;
}

.burgerOpen {
    height: 50;
    width: 50;
    position: fixed;
    top: 25px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 1000ms ease-out;
    transform: rotate(0deg);
    opacity: 1;
    z-index: 1000;
    
}

.burgerExit {
    height: 50;
    width: 50;
    position: fixed;
    top: 25px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
    transform: rotate(0deg);
    transition: 1000ms ease-in;
    z-index: 1000;
    
    
}

.burgerExit .line-4 {
    position: absolute;
    transform: rotatez(-45deg);
}

.burgerExit .line-5 {
    position: absolute;
    transform: rotatez(45deg);
}

.burgerLine {
    width: 100%;
    
    height: 5px;
    background-color:#4F9A94;
    border-radius: 5px;
    
}

.burgerNav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 200px;
    right: -220;
    top:100px;
    transition: 1000ms ease-out;
    z-index: 1000;
}

.burgerNav ul {
    display: inline-block;
    
    width: 100%;   
}

.burgerNav .burgerLink { 
    position: relative;  
}

.burgerNav .burgerLink::before, .burgerLink::after{
     content: "";
     width: 100%;
     height: 2px;
     background-color: white;
     position: absolute;
     left:0;
     transform: scaleX(0);
     transition: 500ms ease-out;
}

.burgerNav .burgerLink::after {
    bottom: 0;
    transform-origin: left;
}

.burgerNav .burgerLink::before {
    top: 0;
    transform-origin: right;
}

.burgerNav .burgerLink:hover::before,
.burgerNav .burgerLink:hover::after {
    transform: scaleX(1);
}


.burgerNav ul {
    margin: 0;
    list-style: none;
    padding:0;
    text-align: center;
 
    
}

.burgerNav ul div {
    
    border-radius: 50px 0 0 50px;
    background-color: #4F9A94;
    margin: 5px 0;
    padding: 6;
    box-shadow:0px 10px 5px 5px rgba(0,0,0,0.25);
}

.burgerNav ul div:hover {
    background-color: #62b1aa;
}

.burgerNav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* BURGER MENU------------------------------------ */
/* BURGER MENU------------------------------------ */
/* BURGER MENU------------------------------------ */
.hero .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    margin:  auto;
    justify-items: center;
    padding: 120px 0;
    width: 80%;      
}

.hero .row .image-main {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 0 0 50px;
}

.hero .row .image-main img {
    border-radius: 100%;
    border: 4px solid #bed2ce;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
}

.hero .row .text-main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 0 0;
    
}

.hero .row .text-main h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 6rem;
    margin: 0;
    padding: 0;
    color: #4F9A94;
    line-height: 0.8;
}

.hero .row .text-main p {
    text-align: center;
    line-height: 1.3;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0 40px;
    color: #4F9A94;
}

.hero .row .text-main button {
    display: flex;
    align-items: center;
    background-color:#4F9A94;
    border: 1px solid #4F9A94;
    padding: 5px 28px;
    border-radius: 7px;
    font-family:"Baloo Bhai 2" ;
    outline: none;
    transition: 500ms ease-out;
}

.hero .row .text-main button a {
    font-size: 1.02rem;
    letter-spacing: 2;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    color: #f4f9f4;
}

.hero .row .text-main button:hover {
    transform: rotate(5deg);
    background-color:#3e857f;
    border: 1px solid #3e857f;
    padding: 5px 28px;
    border-radius: 7px;
}

/*  MAIN CONTENT -------------------------------------- */

/*  LEVEL CONTENT -------------------------------------- */

.levelContainer {
   
    background-color:#4F9A94;
    padding: 100px 0 100px 0;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.levelContainer .levelIntro {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%;
}

.levelContainer .levelIntro h1 {
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    line-height: 1;
    font-size: 4rem;
    font-weight: 900;
    color: #f4f9f4;
}

.levelContainer .levelIntro p {
    text-align: center;
    color: #f4f9f4;
    line-height: 1.4;
    font-size: 1.1rem;
}

.levelContainer .levelSelect {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    column-gap: 100px;
    row-gap: 50px;
    margin-top: 80px;
    width: 80%;
}

.levelContainer .levelSelect img {
    border-radius: 100%;
    border: 2px solid #f4f9f4;  
    transition: 450ms ease-out;
}

.levelContainer .levelSelect  {  
    color: #f4f9f4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 70px;
}

.levelContainer .levelSelect a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #f4f9f4;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0;
    transition: 450ms ease-out;
}

.levelContainer .levelSelect a:hover {
    
    border-bottom:0px solid #494f4e;
    border-radius: 100% 100% 0 0 ;
    background-color: #448d87;
    
}

.levelContainer .levelSelect img:hover {
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.20);
}

.levelContainer .levelSelect h3 {
    margin: 30px auto;
}

.levelContainer .levelSelect p {
    margin: 0;
    line-height: 1.5;
    font-size: 1.1rem;
    text-align: center;
}

.levelContainer .levelSelect .levelNewbie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.levelContainer .levelSelect .levelAdvanced {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.levelContainer .levelSelect .levelExpert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  LEVEL CONTENT -------------------------------------- */

/*  STATS CONTENT -------------------------------------- */

.statsContainer {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0 150px;
}

.statsContainer .statsIntro {
    display:flex ;
   flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 0;
    padding: 0;
}

.statsContainer .statsIntro h2 {
  
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    padding:  0 ;
    color: #4F9A94;
    line-height: 1;
}

.statsContainer .statsIntro p {
    text-align: center;
    
    font-weight: 000;
    font-size: 1.1rem;
    line-height: 1.4;
    color: #4F9A94;
}

.statsContainer .statsShow {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    column-gap: 100px;
    row-gap: 70px;
    justify-items: center;
    width: 80%;
    margin-top: 80px;
    color:#4F9A94;
    font-size: 1.1rem;
    font-weight: 500;
}



.statsContainer .statsShow .statsOne {
    border: 4px solid #4F9A94;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    transition: 500ms ease-out;
}

.statsContainer .statsShow .statsTwo {
    border: 5px solid #4F9A94;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    transition: 500ms ease-out;
}

.statsContainer .statsShow .statsThree {
    border: 6px solid #4F9A94;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 100%; 
    transition: 500ms ease-out;
}

.statsContainer .statsShow .statsOne:hover {
    transform: scale(1.1, 1.1);
}

.statsContainer .statsShow .statsTwo:hover {
    transform: scale(1.1, 1.1);
}

.statsContainer .statsShow .statsThree:hover {
    transform: scale(1.1, 1.1);
}

.statsContainer .statsShow .statsOne .numberOne {
    font-size: 3rem;
    font-weight: 300;
    color:#4F9A94;
    margin: 0;
}

.statsContainer .statsShow .statsTwo .numberTwo {
    font-size: 3rem;
    font-weight: 500;
    color:#4F9A94;
    margin: 0;
}

.statsContainer .statsShow .statsThree .numberThree {
    font-size: 3rem;
    font-weight: 700;
    color:#4F9A94;
    margin: 0;
}

.statsContainer .statsShow p {
    margin: 0; 
}

/*  STATS CONTENT -------------------------------------- */

/*  INSTRUCTOR CONTENT --------------------------------- */

.instructorContainer {
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color:#4F9A94 ;
    align-items: center;   
}

.instructorContainer .instructorInfo {
        padding: 50px 100px 50px 100px;
}

.instructorContainer .instructorInfo h2 {
    text-transform: uppercase;
    margin: 0;
    text-align: left;
    line-height: 1.3;
    font-size: 4rem;
    font-weight: 900;
    color: #f4f9f4;
    padding-right: 120px;
    
}

.instructorContainer .instructorInfo p {
    text-align: left;
    color: #f4f9f4;
    line-height: 1.4;
    font-size: 1.1rem;  
}



.instructorContainer .instructorInfo .instructorButton button {
    background-color: #f4f9f4;
    border: 1px solid #f4f9f4;
    border-radius: 5px;
    height: 60px;
    width: 300px;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Baloo Bhai 2";
    color: #4F9A94;
    text-transform: uppercase;
    margin-top: 30px;
    outline: none;
    transition: 500ms ease-out;
}

.instructorContainer .instructorInfo .instructorButton button:hover {
    transform: rotate(-5deg);
    
}


.instructorContainer .instructorImage {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;   
}

/*  INSTRUCTOR CONTENT --------------------------------- */

/*  EXPERIENCE CONTENT --------------------------------- */

.expContainer {
    margin:0;
    padding: auto;
    display: flex;
    justify-content: center;
    
    align-items: center;   
}

.expContainer .expInfo {
        padding-left: 100px;
}

.expContainer .expInfo h2 {
    text-transform: uppercase;
    margin: 0;
    
    text-align: left;
    line-height: 1.3;
    font-size: 4rem;
    font-weight: 900;
    color: #4F9A94;
    padding-right: 120px;
}

.expContainer .expInfo p {
    text-align: left;
    color: #6c9894;
    line-height: 1.4;
    width: 70%;
    font-size: 1.1rem;  
}



.expContainer .expInfo .expButton button {
    background-color: #4F9A94;
    border: 1px solid #4F9A94;
    border-radius: 5px;
    height: 60px;
    width: 300px;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Baloo Bhai 2";
    color: #f4f9f4;
    text-transform: uppercase;
    margin-top: 30px;
    outline: none;
    transition: 500ms ease-out;
}

.expContainer .expInfo .expButton button:hover {
    transform: rotate(5deg);
    
}


.expContainer .expImage {
    width: 50%;
    padding: 100px 50px 75px 75px;
    margin: 0;
    
     
}

.expContainer .expImage img {
    border-radius: 15px;
}

/*  EXPERIENCE CONTENT --------------------------------- */

/*  PRICE CONTENT --------------------------------- */

.priceContainer {
    background-color: #4F9A94 ;
    
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 100px 100px;
}

.priceContainer .priceInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.priceContainer .priceInfo h2 {
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    
    line-height: 1.3;
    font-size: 4rem;
    font-weight: 900;
    color: #f4f9f4;
    

}

.priceContainer .priceInfo p {
    text-align: center;
    color: #f4f9f4;
    line-height: 1.4;
    width: 70%;
    font-size: 1.1rem;  
    
}

.priceContainer .priceSelect {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    column-gap: 100px;
    row-gap: 50px;
    width: 100%;
    padding: 50px 0 0 0;

}

.priceContainer .priceSelect div {
    background-color: #f4f9f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    padding-bottom: 30px;
    border-radius: 10px;
    transition: 500ms ease-out;
}

.priceContainer .priceSelect h3 {
       font-size: 1.8rem;
       font-weight: 800;
       text-align: center;
       width: 60%;
       color: #4F9A94 ;
       text-transform: uppercase;
       line-height: 1.4;

}

.priceContainer .priceSelect p {
    text-align: center;
    padding: 20px 0;
    font-size: 1.1rem;
    line-height: 1.6;
    width: 90%;
    font-weight: 500;
    color: #4F9A94;

}

.priceContainer .priceSelect button {
    background-color: #4F9A94;
    outline: none;
    height: 60px;
    width: 90%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family:"Baloo Bhai 2" ;
    border: 0px solid transparent;
    color: #f4f9f4;
    border-radius: 5px;
    transition: 500ms ease-out;
}

.priceContainer .priceSelect div:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.30);
}

.priceContainer .priceSelect button:hover {
    background-color: #418882;
    
}





/*  PRICE CONTENT --------------------------------- */

/*  QUOTE CONTENT --------------------------------- */

.quoteContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100 0px;
    margin: 0;
    background-image: url('images/background2.jpg');
}
.quoteContainer .quoteImage {
    padding-bottom: 20px;

}

.quoteContainer .quoteImage img {
    border-radius: 100%;
    border: 5px solid #bed2ce;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
}

.quoteContainer .quoteInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding:30px 0 0 0;
    
}

.quoteContainer .quoteInfo p {
    width: 70%;
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.2;
    color: #4F9A94;
    margin: 0;
}

.quoteContainer .quoteInfo h3 {
    color: #4F9A94;
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0;
}



/*  QUOTE CONTENT --------------------------------- */

/*  NEWSLETTER CONTENT --------------------------------- */

.newsletterContainer {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#4F9A94 ;
    padding: 100px 0;
}

.newsletterContainer .newsletterInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
   

}

.newsletterContainer .newsletterInfo h2{
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    width: 50%;
    line-height: 1.3;
    font-size: 4rem;
    font-weight: 900;
    color: #f4f9f4;
    padding: 0 0 10px 0;
    line-height: 1;
}

.newsletterContainer .newsletterInfo p {
    text-align: center;
    color: #f4f9f4;
    line-height: 1.4;
    width: 60%;
    font-size: 1.1rem;  
}

.newsletterContainer .newsletterInput {
    display: flex;
    width: 60%;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: -0px 0px 10px -2px rgba(0,0,0,0.35);
}

.newsletterContainer .newsletterInput input {
    height: 60px;
    width: 100%;
    border-radius: 30px;
    border: 0px solid transparent;
    outline: none;
    font-size: 1.4rem;
    color: rgb(209, 209, 209);
    letter-spacing: 2px;
    padding-left:20px ;
    font-family:"Baloo Bhai 2";
    
}

.newsletterContainer .newsletterInput button {
    height: 60px;
    font-size: 1.4rem;
    text-align: center;   
    font-family:"Baloo Bhai 2";
    color: #4F9A94;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 30px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid transparent;
    outline: none;
    background-color: #F3FAF4;
    box-shadow: -8px 0px 5px -2px rgba(0,0,0,0.15);
    transition: 300ms ease-out;
}

.newsletterContainer .newsletterInput .button:hover {
    color: #78c4bd;
    
}


/*  NEWSLETTER CONTENT --------------------------------- */

/*  FOOTER CONTENT --------------------------------- */

.footer {
    margin: 0;
    display: flex;
    justify-content: center;
    
}

.footer .footerSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    padding: 100px 0;
    width: 90%;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.9;
}

.footer li {

    font-size: 1.1rem;
    font-weight: 400;
    border-bottom: 1px solid transparent;
}

.footer a:hover {
    border-bottom: 1px solid #4F9A94;
}

.footer h4 {
    font-size: 1.6rem;
    font-weight: 800;
    color: #4F9A94;
}

.footer i {
    color:#4F9A94;
    margin-right: 20px;
    font-size: 1.5rem;
}

.footer a {
    text-decoration: none;
    color: #4F9A94;
    
    border-bottom: 1px solid transparent;

}

.footer p {
    text-align: left;
    
    line-height: 1.4;
    color: #4F9A94;
    font-size: 1.1rem;  
    line-height: 1.6;
}
.footer .footerSection div {
    padding: 0;
    margin: 0 auto;
    
}

.footer .footerSection .footerOne {
    width: 40%;
}

/*  FOOTER CONTENT --------------------------------- */

/* MEDIA QUERY-------------------------------------- */

@media (max-width:1400px){
    .instructorContainer .instructorImage {
        display: none;
    } 
    

    
    .instructorContainer .instructorInfo {
        padding: 100px 0 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;  
    }
    .instructorContainer .instructorInfo h2 {
        margin: auto;
        padding: 0;
        text-align: center;   
    }
    .instructorContainer .instructorInfo p {
        text-align: center;
        padding: 30px 0 20px;
        margin: auto;
        width: 40%;  
    }
    .instructorContainer .instructorInfo .instructorButton {
        margin: auto;
        padding: 0;
    }
}

@media (max-width:1302px) {
        .levelContainer .levelSelect {
         column-gap: 500px;
        }
        
        .expContainer .expImage {
            display: none;
        }

        .expContainer .expInfo {
            padding:100px 0;
            margin:0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .expContainer .expInfo h2 
        {
            text-align: center;
            padding: 0;
            
            margin: auto;
        }

        .expContainer .expInfo p {
            text-align: center;
            padding:30px 0 20px;
            margin: auto;
        }

        .expContainer .expInfo .expButton {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
        }

        .priceContainer .priceSelect {
            column-gap: 500px;
        }

}

@media (max-width:1200px) {
    .statsContainer .statsShow {
     column-gap: 500px;
    }
    .statsContainer {
        background-image: none;
    }
}



@media (max-width:1024px) {
    
    
    .statsContainer .statsShow {
        column-gap: 500px;
    }
}



@media (max-width:890px) {
    .hero .header .nav {
        padding:0;
        justify-content: space-around;
        
    }
    .hero .header .nav ul li {
        margin: auto 20px;
    }
   
}

@media (max-width:784px) {
    .hero .header .nav {
        padding:0;
        justify-content: space-around;
        
    }
    .hero .header .nav ul li {
        margin: auto 20px;
    }
    
    
    
}

@media (max-width:700px) {
    .hero .header .nav {
        padding:0;
        justify-content: space-around;
        
    }
    .hero .header .nav ul li {
        margin: auto 14px;
    }
    
    
    
}
@media (min-width: 625px) {
    .burgerAll {
        visibility: hidden;
        
    }
}

@media (max-width: 625px) {
    .hero .header {
        
        justify-content: left;
        height: 100px;
        position: relative;
        top: 0;
        
    }
    .hero .header .nav {
        margin: 0;
    }
    .hero .header .logo {
        margin: 0;
        width: 100%;
        height: 100px;
        position: fixed;
        box-shadow: 0 0 20px 5px rgba(0,0,0,0.25);
        z-index: 1000;
       
        
        
    }

    .hero .header .logo  {
         justify-content: left;
         padding-left: 20px ;
    }

    .hero .header .nav {
        display: none;
    }

    .expContainer .expInfo {
        padding-left: 40px;
        display: flex;
        justify-content: center;
        padding-right:40px;   
    }

    .expContainer .expInfo h2 {  
        margin: 0;
        text-align: center;
        padding: 0;   
    }

    .instructorContainer .instructorInfo {
        padding: 100px 40px;
    }

    .instructorContainer .instructorInfo p {
        text-align: center;
        
    }

    .instructorContainer .instructorInfo h2 {
        margin: auto;
       padding: 0;
       
    }

    .priceContainer  {
        padding:100px 0;
        
    }

    .priceContainer .priceSelect div  {
        width: 60%;
        height: auto;
        
    }

    .quoteContainer {
        background-image: none;
    }

    .newsletterContainer .newsletterInfo h2 {
        width: auto;
        padding: 0;
    }

    .statsContainer .statsIntro {
        width: 70%;
    }
    
}

@media (max-width: 496px) {
    
    
   
    .hero .header .nav ul li {
        margin: 0 10;
    }

    .hero .row .image-main {
        display: none;
        
    }

    .hero .row {
        margin: auto;        
        display: flex;
        justify-content: center;
    }
    
    .expContainer .expInfo {
        padding: 100px 0;
    }
    
    .instructorContainer .instructorInfo {
        padding: 100px 0;
    }
}

@media (max-width:370px){
    .levelContainer .levelSelect img {
        background-size: cover;
        width: 80%;
    }

    .levelContainer .levelSelect {
        width: auto;
    }

    .levelContainer h3 {
        width: 80%;
        text-align: center;
    }

    .instructorContainer .instructorInfo h2 {
       
        margin: 0;
        padding: 0;
        font-size: 3rem;      
    }

    .instructorContainer .instructorInfo p {
        margin: 0 auto;
        width: 70%;
    }

    .instructorContainer .instructorInfo .instructorButton button {
        width: 100%;
        
    }
    
    .instructorContainer .instructorInfo .instructorButton {
        margin: 0;
        padding: 0 60px;
    }

    .expContainer .expInfo h2 {
        margin: 0;
        padding: 0;
        font-size: 3rem; 
    }

    .expContainer .expInfo .expButton  {
        margin: 0;
        padding: 0 60px;
    }

    .expContainer .expInfo .expButton button {
        width: 100%;
    }

    .priceContainer .priceInfo h2 {
        font-size: 3rem;
    }

    .priceContainer .priceSelect h3 {
        font-size: 1.5rem ;
    }
    .priceContainer .priceSelect img {
        width: 40%;
    }

    .priceContainer .priceSelect div {
        width: 80%;
    }

    .quoteContainer .quoteImage img {
        width: 80%;
    }

    .quoteContainer .quoteImage {
        display: flex;
        justify-content: center;
    }

    .quoteContainer .quoteInfo p {
        font-size: 1.8rem;
    }

    .quoteContainer .quoteInfo h3 {
        line-height: 1;
        font-size: 2.2rem;
        padding: 30px 0 0 0;
    }

    .newsletterContainer .newsletterInfo h2 {
        margin: 0;
        padding: 0;
        font-size: 3rem; 
    }

    .levelContainer .levelIntro h1 {
        margin: 0;
        padding: 0;
        font-size: 3rem; 
    }

    .levelContainer .levelIntro  {
        width: 80%;
    }
    
    .levelContainer .levelSelect h3 {
        margin: 0;
        line-height: 1;
        padding: 20px 0;
    }
    .levelContainer .levelSelect {
        grid-template-columns: none;
    }

    .levelContainer .levelSelect p {
        width: 70%;
    }

    .newsletterContainer .newsletterInput {
        width: 90%;
        
    }

}





/* MEDIA QUERY-------------------------------------- */